.header {
    padding: 20px;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px 20px 0px 0px;
}

.newdata {
    padding: 10px;
    margin-bottom: 15px;
    background-color:beige;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.datas {
    background-color: beige;
    padding: 10px;
    text-align: center;
    align-items: center;
}
